.event{
    padding: 80px 0;
    background-image: linear-gradient( #186CA7, #442BDB);
    .container{
        display: flex;
    }

    &__image{
        max-width: 360px;
    }

    &__detail{
        margin-right: 40px;
        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description{
            font-size: 16px;
            line-height: 22px;
        }
    }

    @media(max-width: 640px){
        .container{
            display: block;
        }

        &__image{
        max-width: 100%;
    }

    &__detail{
        margin-right: 0;
        margin-bottom: 16px;
    }
    }

}